
@media only screen and (max-width: 1125px) {
  section.event-grid-wrapper{
    width: 72%;
  }
}
@media only screen and (max-width: 1086px) {
  .footer_form .subscribe{
      display: flex;
      flex-direction: column;
  }
}
@media only screen and (max-width: 1000px) {
  section#home.cover-main{
      width: 78%;
    }
  section.event-grid-wrapper{
      width: 78%;
    }
    section#slider.live-home{
      width: 78%;
    }
}
@media only screen and (max-width: 924px) {
  section#home.cover-main{
      width: 85%;
    }
    section#slider.live-home{
      width: 85%;
    }
  section.event-grid-wrapper{
      width: 85%;
    }
    .footer-wrapper{
      display: flex;
      flex-direction: column;
      grid-gap: 50px;
  }
  div.address,
  div.footer-center,
  div.newsletter{
      margin-left: 195px;
  }
  /* div.footer-center h2.sub-title{
      margin-top: 50px;
      color: red;
  } */
  .footer-center h2.sub-title{
      margin: 4px 5px 6px 1px;
  }
  .footer-center ul.socialmedia-footer .fa{
      margin: 0 5px 5px 5px;
      display: inline-flex;
      font-size: 36px;
      grid-gap: 10px;
      background-color: cornflowerblue;
      color: #fff;
  }
  .footer_form .subscribe{
      display: inline-flex;
      /* grid-template-columns: repeat(2, minmax(300px, 1fr)); */
      /* grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto auto; */
  }
  div.newsletter{
      /* margin-bottom: 0; */
  }
  div.newsletter h2.sub-title{
      margin-top: 9px;
      /* color:red; */
  }
  .footer_form .subscribe{
      margin-bottom: 15px;
  }
  .newsletter h2.sub-title{
      margin: 4px 1px 7px 1px;
      color:#465442;
  }
  div.copyright{
      margin: 20px 0 2px 145px;
  }
}

@media only screen and (max-width: 908px) {

  .menu-trigger {
      background: url('../images/hamburger-icon.svg') no-repeat center / cover;
      width: 35px;
      height: 35px;
      display: block;
      z-index: 10;
      position: absolute;
      right: 20px;
      top: 15px;
  }

  .main-overlay {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.72);
      z-index: 6;
      display: none;
  }

    .main-overlay:after {
      background: url('../images/close-icon.svg') no-repeat center / cover;
      width: 35px;
      height: 35px;
      display: block;
      content: "";
      position: fixed;
      top: 10px;
      right: 20px;
      z-index: 20;
    }
    .menu {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      /* background: rgb(48, 95, 109); */
      width: 100%;
      max-width: 300px;
      z-index: 30;
      -webkit-transform: translate3d(-100%, 0, 0);
              transform: translate3d(-100%, 0, 0);
      -webkit-transition: 0.3s;
      transition: 0.3s;
    }
    nav.nav-wrapper{
      max-width: 833px;
      width: 100%;
    }

    nav.nav-wrapper ul li {
      display: block;
      margin-top: 20px;
      padding: 0;
      padding-bottom: 20px;
    }

    nav.nav-wrapper ul li a {
      font-size: 18px;
      line-height: 23px;
    }

    nav.nav-wrapper ul li a:hover {
      border-color: transparent;
    }

    body.menu-is-active .menu {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
      display: block;
      padding: 0 25px;
    }

    body.menu-is-active .main-overlay {
      display: block;
    }

    body.menu-is-active .menu-trigger {
      display: none;
    }
    
}

@media only screen and (max-width: 849px) {
  section#home.cover-main{
      width: 98%;
    }
    section#slider.live-home{
      width: 98%;
    }
  section.event-grid-wrapper{
      width: 98%;
    }
    div.address,
  div.footer-center,
  div.newsletter{
      margin-left: 145px;
  }
  div.copyright{
      margin: 20px 0 2px 135px;
  }
}
@media only screen and (max-width: 739px) {
  section#home.cover-main{
      width: 100%;
    }
    section#slider.live-home{
      width: 100%;
    }
  section.event-grid-wrapper{
      width: 100%;
    }
}

@media only screen and (max-width: 724px) {
  section#home.cover-main{
      width: 88%;
  }
  section#slider.live-home{
      width: 100%;
      display: grid;
      /* grid-template-columns: repeat(2, minmax(10%, auto)); */
      grid-template-columns: repeat(1, 1fr);
      /* grid-template-columns: 1fr 1fr ; */
      grid-template-rows: auto auto auto auto auto auto;
      align-items: center;
      grid-gap: 3px;
  }
  div.live-youtube{
      margin: 0 auto;
  }
  div.container{
      margin: 0 auto;
      width: 76%;
  }
    .event-grid-wrapper{
      
      width: 100%;
      display: grid;
      grid-template-columns: repeat(1, auto);
      grid-template-rows: auto auto auto auto auto auto;
      align-items: center;
      grid-gap: 3px;
  }
  .event-grid-wrapper a{
      position: relative;
      display: block;
      
  }
  div.upcoming-event,
  div.latest-sermon,
  div.donation{
      margin: 0 auto;
  }
  /* div.latest-sermon{
      margin: 0 auto;
  }
  div.donation{
      margin: 0 auto;
  } */
  div#footer.footer-wrapper{
      /* font-size: 30px; */
      /* min-height: 300px; */
      margin-top: 90px;
      width: 98%;
      margin: 0 auto;
      /* background: LightGray; */
      display: grid;
      /* grid-template-columns: repeat(3, minmax(300px, 1fr)); */
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: auto auto auto ;
      grid-gap: 50px;
  }
  .footer-wrapper div.address{
      margin-top: 50px;
  }
  /* .event-grid-wrapper img{
      margin-left: 190px;
   }
   .event-grid-wrapper a{
      margin-left: 290px;
   } */
   div.address,
   div.footer-center,
   div.newsletter{
       margin: 0 auto;
   }
   /* .social-media {
      display: flex;
      font-size: 2px;
  } */
   div.copyright p{
      margin-right: 197px;
   }
}
@media only screen and (max-width: 525px) {
    div.live-youtube{
        width: 90%;
    }
    div.copyright p{
      margin-right: 80px;
   }
}
@media only screen and (max-width: 412px) {
  section#home.cover-main{
      width: 98%;
  }
  div.live-youtube{
      width: 97%;
  }
  div.container{
      width: auto;
  }
  div.copyright p{
      margin-right: 100px;
      /* margin: 0 auto; */
      font-size: 1.1rem;
      line-height: 15px;
 }
}
@media only screen and (max-width:368px) {
  section#home.cover-main{
      width: 100%;
  }
}